<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ehb.medicationreminder" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UserInterface.MedicationListActivity"
            android:label="@string/title_medication_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.MedicationDetailActivity"
            android:label="@string/title_medication_detail"
            android:parentActivityName=".UserInterface.MedicationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.MedicationListActivity" />
        </activity>
        <activity
            android:name=".UserInterface.MedicationAddActivity"
            android:label="@string/title_activity_medication_add" >
        </activity>
    </application>

</manifest>
