<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ehb.medicationreminder" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/med_rem"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="be.ehb.medicationreminder.UI.VibrateActivity"
            android:label="@string/med_rem" >
        </activity>

        <activity
            android:name="be.ehb.medicationreminder.UI.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </activity>

        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>

        <service
            android:name="be.ehb.medicationreminder.service.DataLayerListenerService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service android:name=".service.StartService">
        </service>

        <activity
            android:name="be.ehb.medicationreminder.UI.ShowMedActivity"
            android:label="@string/title_activity_show_med" >

        </activity>

        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
